doctype html
html
  head
    title pokedex
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container")
      form(action='/pokedex',method="post")
        input(type="text", name="searchpokemon", id='searchpokemon', placeholder="look for your pokemon")
        input(type="submit", class="look", id="search")
      p(class="name") #{name}
      p #{id}
      p(class="type1") #{type_1}
      p(class="type2") #{type_2}
      img(src= img class="front")
      img(src= img2 class="back")
      
      
